[submodule "HorusStyle"]
	path = HorusStyle
	url = https://github.com/Melivor/HorusStyle.git
[submodule "ItemView"]
	path = ItemView
	url = https://github.com/Melivor/ItemView.git
[submodule "StandardItemModel"]
	path = StandardItemModel
	url = https://github.com/Melivor/StandardItemModel.git
[submodule "VariousCustomTypes"]
	path = VariousCustomTypes
	url = https://github.com/Melivor/VariousCustomTypes.git
[submodule "muparser"]
	path = muparser
	url = https://github.com/beltoforion/muparser
[submodule "ImageComposer"]
	path = ImageComposer
	url = git@github.com:Melivor/ImageComposer.git
